<h1><%="Review on #{@product.name}" %></h1>

<% @reviews.each do |review| %>

<li>Rating: <%= review.rating %></li><br>

<li>Comment: <%= review.comment %></li><br>

<button><%= link_to "To go back", product_path(current_user) %></button>

<% end %>